NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCCeoU0QYrtpOpL4BFenHfZrVd0_yiNe6Q
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ai-student-teacher-helper.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ai-student-teacher-helper
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ai-student-teacher-helper.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=977375870310
NEXT_PUBLIC_FIREBASE_APP_ID=1:1:977375870310:web:6ec293165b06a3842b5ca7
TEACHER_INVITE_TOKEN=YnJpbmdhc2lkZXBpbG90d2FzaGRhbmdlcmFsc29wb3J0bXVzY2xlc3Ryb25nZXJtb3U=
GEMINI_API_KEY=AIzaSyDiFYL16SGFOtM3gZF01rRdg3IhQYVeoqk

